/* banner section css */

.about-banner-section {
    margin-top: 200px !important;
}

.about-banner-section .container h1 {
    color: black;
    font-size: 48px; 
    font-family: "Metrophobic", sans-serif; 
    font-weight: 400; 
    text-transform: uppercase;
    margin-top: 30px;
}

.about-banner-section .container p {
    color: rgba(0, 0, 0, 0.60); 
    font-size: 20px; 
    font-family: "Inter", sans-serif; 
    font-weight: 400; 
    line-height: 30px; 
    word-wrap: break-word;
}

.about-banner-section .container .card { 
    background-color: #F7F7F7;
    border: 0px;
}

.about-banner-section .container .card {
    border-radius: 0px;
    padding: 20px;
}

.datas-area {
    margin-top: 80px;
}

.mission h2 {
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
}

.mission p {
    font-family: "Inter", sans-serif;
    color: #efefefb2 !important;
}

.vission h2 {
    color: #000;
    font-weight: 300;
    text-transform: uppercase;
}

.vission p {
    font-family: "Inter", sans-serif;
    color: #000 !important;
}

/* brand-section css */

.brand-section {
    margin-top: 80px;
}

.brand-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.brand-img {
    width: 170px;
    height: 100%;
    display: flex;
    align-items: center;
}

/* media query starting */

@media all and (max-width:900px) {

    /* banner section css */

    .about-banner-section {
        margin-top: 130px !important;
    }

    .about-banner-section .banner-img {
        height: 150px;
    }
    
    .datas-area {
        margin-top: 40px;
    }
    
    /* brand-section css */
    
    .brand-section {
        margin-top: 50px;
    }
    
    .brand-main {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    }

    .brand-img {
        width: 170px;
        height: 100px;
        display: flex;
        align-items: center;
    }
}

@media all and (max-width:768px) {
    /* banner section css */

    .about-banner-section {
        margin-top: 100px !important;
    }

    .about-banner-section .container h1 {
        font-size: 30px;
        margin-top: 20px;
    }

    .about-banner-section .container p {
        font-size: 16px;
        line-height: 27px;
    }

    .about-banner-section .container .card {
        border-radius: 0px;
        padding: 20px 5px;
    }

    .datas-area {
        margin-top: 30px;
    }

    .mission h2 {
        color: #fff;
        font-weight: 300;
    }

    .mission p {
        font-family: "Inter", sans-serif;
        color: #efefefb2 !important;
        margin-top: 15px !important;
    }

    .vission h2 {
        color: #000;
        font-weight: 300;
    }

    .vission p {
        font-family: "Inter", sans-serif;
        color: #000 !important;
        margin-top: 15px !important;
    }

    /* brand-section css */

    .brand-section {
        margin-top: 40px;
    }

    .brand-main {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .brand-img {
        width: 140px;
        height: 80px;
        display: flex;
        align-items: center;
    }
}