@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Metrophobic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Metrophobic", sans-serif;
    font-family: "Inter", sans-serif;
}

:root {
    --teamColor: #832816;
    --paragraph: #A2A2A2;
}

a {
    text-decoration: none !important;
}

#lottie-container > svg > g > g:last-child > g > path {
    fill: white;
}

#lottie-container > svg > g > g:nth-child(2) > g > path:first-child {
    fill: white !important;
}

#lottie-container > svg > g > g:nth-child(1) > g > path:first-child {
    fill: white !important;
}

/* Navbar section */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 15px 30px 15px 30px;
    z-index: 1000;
    background-color: #fff;
    border-bottom: 1px #CCCCCC solid;
}

header.sticky {
    padding: 15px 30px 15px 30px;
    background-color: #fff;
    border-bottom: 1px #CCCCCC solid;
}

header .logo {
    position: relative;
    color: var(--textColor);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.6s;
}

.logo img {
    height: 50px;
}

.nav__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item {
    position: relative;
    list-style: none;
    margin-top: 20px;
}

.nav__item a {
    position: relative;
    margin: 0 35px;
    text-decoration: none;
    transition: 0.6s;
    font-family: "Metrophobic", sans-serif;
    color: #1A1A1A; 
    font-size: 16px; 
    font-weight: 400; 
    text-transform: uppercase;
}

.nav__item a:hover {
    color: #494949ee;
}

.nav__link {
    padding: 10px;
    color: #000000ee;
    font-weight: 600;
}

.header__close,
.header__toggle ,
.header-img{
    display: none;
}

header.sticky .logo,
header.sticky ul li a {
    color: #1A1A1A;
}

.navBtn button {
    margin: 0 1px;
    padding: 10px 24px;
}

.signUp-btn {
    background-color: transparent;
    border: 0.80px rgba(0, 0, 0, 0.60) solid;
    transition: 0.3s;
    padding: 0px;
    color: rgba(0, 0, 0, 0.70); 
    font-size: 14px; 
    font-family: "Inter", sans-serif; 
    font-weight: 400; 
    text-transform: uppercase;
}

.Contribute-btn {
    background-color: #1A1A1A;
    color: #fff;
    border: 1px solid #1A1A1A;
    cursor: pointer;
    text-transform: uppercase;
}

.Contribute-btn-tab {
    display: none;
}
  
.Contribute-btn i, .Contribute-btn-tab i {
    margin-right: 8px;
    transition: transform 0.3s ease;
}
  
.Contribute-btn:hover i, .Contribute-btn-tab:hover i {
    transform: rotate(45deg);
}

/* banner section css */

.banner-section {
    margin-top: 200px;
    padding-bottom: 100px;
}

.banner-section .container h1 {
    color: #fff;
    margin-top: 40px;
}

.banner-section .container p {
    color: var(--paragraph);
    font-family: "Inter", sans-serif;
}

.banner-section .container .card {
    background-color: transparent;
    text-align: left;
}

.banner-section .container .card h3 {
    color: #E3E3E3;
    font-size: 22px;
}

/* media query starting */

@media all and (max-width:1040px) { 
    
    .logo img {
        height: 45px;
    }
    
    .nav__item a {
        position: relative;
        margin: 0 20px;
        text-decoration: none;
        transition: 0.6s;
        font-family: "Metrophobic", sans-serif;
        color: #1A1A1A; 
        font-size: 14px; 
        font-weight: 400; 
        text-transform: uppercase;
    }
    
    .navBtn button {
        margin: 0 1px;
        padding: 8px 20px;
    }
    
    .signUp-btn {
        background-color: transparent;
        border: 0.80px rgba(0, 0, 0, 0.60) solid;
        transition: 0.3s;
        padding: 0px;
        color: rgba(0, 0, 0, 0.70); 
        font-size: 12px; 
        font-family: "Inter", sans-serif; 
        font-weight: 400; 
        text-transform: uppercase;
    }
    
    .Contribute-btn {
        background-color: #1A1A1A;
        color: #fff;
        border: 1px solid #1A1A1A;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 12px;
    }
}

@media all and (max-width:900px) {

    /* navbar css */
    
    body {
        overflow-x: hidden;
    }

    body.overflow-hidden {
        overflow: hidden;
    }

    header {
        height: 48px;
        justify-content: space-between;
        padding: 30px 40px 30px 40px;
    }

    .header__toggle {
        display: inline;
        color: #000;
        font-size: 24px;
    }

    header.sticky .header__toggle {
        display: inline;
        color: #000;
        font-size: 24px;
    }

    .header__close {
        position: absolute;
        right: 40px;
        top: 30px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
        z-index: 1000;
        color: #000000;
    }

    .header-img {
        position: absolute;
        left: 40px;
        top: 30px;
        display: block;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #fff;
        color: var(--paragraph);
        width: 100%;
        height: 35vh;
        padding: 24px 0;
        z-index: 1000;
        transition: 0.5s;
        z-index: 1000;
    }

    header.sticky {
        padding: 30px 40px 30px 40px;
        background-color: #fff;
        box-shadow: 3px 4px 4px 0px rgba(214, 214, 214, 0.50);
    }

    header .logo {
        position: relative;
        color: var(--textColor);
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.6s;
    }

    .logo img {
        height: 35px;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        margin: 0 !important;
        padding: 0px 30px !important;
        width: 100% !important;
        position: relative;
        justify-content: center;
        align-items: flex-start !important;
    }

    .show {
        right: 0;
    }

    .nav__item a {
        color: #000000;
        text-align: left !important;
        margin: 0px !important;
    }

    .nav__item {
        margin: 2rem 0;
    }

    .nav__list a {
        text-decoration: none;
        /* display: inline-block; */
        position: relative;
        width: 100% !important;
    }

    .nav__list a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: var(--teamColor);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    .Contribute-btn {
        display: none;
    }
    
    .Contribute-btn-tab {
        display: block;
        background-color: #000000;
        color: #ffffff;
        border: none;
        cursor: pointer;
        padding: 8px 25px 8px 25px;
        width: 100% !important;
    }

    .signUp-btn {
        position: absolute;
        right: 95px;
        top: 12px;
        padding: 4px 20px 4px 20px;
    }

    /* banner section */
    
    .banner-section {
        margin-top: 150px;
    }
}

@media all and (max-width:768px) {

    /* navbar css */
    body {
        overflow-x: hidden;
    }

    body.overflow-hidden {
        overflow: hidden;
    }

    .logo img {
        height: 30px;
    }

    header {
        height: auto;
        justify-content: space-between;
        padding: 10px 10px 10px 10px;
    }

    .header__toggle {
        display: inline;
        color: #000;
        font-size: 26px;
    }

    .header__close {
        position: absolute;
        right: 20px;
        top: 15px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
        z-index: 1000;
        color: #000000;
    }

    .header-img {
        position: absolute;
        left: 20px;
        top: 30px;
        display: block;
    }

    .nav__item a {
        color: #000000;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #ffffff;
        color: #000000ee;
        width: 100%;
        height: 55vh;
        padding: 24px 0;
        z-index: 1000;
        transition: 0.5s;
        border-radius: 0 0 0 0%;
        z-index: 1000;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        margin-left: 15%;
        padding: 0px 10px !important;
    }

    .show {
        right: 0;
    }

    .nav__item {
        margin: 1.5rem 0;
    }

    header.sticky {
        padding: 10px 10px 10px 10px;
        background-color: #fff;
        box-shadow: 3px 4px 4px 0px rgba(214, 214, 214, 0.50);
    }

    .signUp-btn {
        position: absolute;
        right: 50px;
        top: 11px;
        padding: 4px 10px 2px 10px !important;
    }

    /* banner section css */

    .banner-section {
        margin-top: 100px;
    }

    .banner-section .banner-img {
        padding: 0px !important;
        height: 100px !important;
    }
}