body {
    font-family: "Metrophobic", sans-serif;
    font-family: "Inter", sans-serif;
    background-color: black;
}

/* banner section css */

.banner-section {
    margin-top: 200px;
    padding-bottom: 100px;
}

.banner-section .container h1 {
    color: #fff;
    margin-top: 40px;
}

.banner-section .container p {
    color: var(--paragraph);
    font-family: "Inter", sans-serif;
}

.banner-section .container .card {
    background-color: transparent;
    text-align: left;
}

.banner-section .container .card h3 {
    color: #E3E3E3;
    font-size: 22px;
}

/* media query starting */

@media all and (max-width:900px) {

    /* banner section */
    
    .banner-section {
        margin-top: 150px;
    }
}

@media all and (max-width:768px) {
    /* banner section css */

    .banner-section {
        margin-top: 100px;
    }

    .banner-section .banner-img {
        padding: 0px !important;
        height: 100px !important;
    }
}