/* categories-section css */

.categories-section {
    padding-top: 100px;
    background-color: #fff;
    position: relative;
    z-index: 100;
    /* padding-bottom: 100px; */
    border-top: 1px #CCCCCC solid;
}

.main-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-family: "Inter", sans-serif;
}

.categories {
    border: 1px solid #00000091;
    padding: 10px 15px;
    border-radius: 0px;
    transition: 0.3s;
}

.categories:hover {
    background-color: #000;
    color: #fff;
    transform: 0.3s;
}

/* design-section css */

.design-section {
    padding-top: 30px;
    background-color: #fff;
    position: relative;
    z-index: 100;
    /* padding-bottom: 100px; */
}

.main-design {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    font-family: "Inter", sans-serif;
}

.design {
    border: 1px solid #00000091;
    border-radius: 0px;
    padding: 15px 15px 10px 15px;
    width: 370px;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
}

.design h5 {
    font-weight: 300;
}

/* ai-section css */

.ai-section {
    padding-top: 100px;
    background-color: #fff;
    position: relative;
    z-index: 100;
    /* padding-bottom: 100px; */
}

.ai-section p {
    color: #000000a9;
}

.border-line {
    border: 1px solid #CDCDCD;
}

.bg-gray {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 30px 0px;
}

.bg-team {
    background-color: #F8F8F8;
    padding: 40px 30px;
} 

.dog-img {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.04);
}

.bg-team h4 {
    color: rgba(0, 0, 0, 0.80);
}

.hashTags {
    height: 40px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 5px 20px;
    background-color: rgba(0, 0, 0, 0.04);
}

.getTeach-btn button {
    padding: 10px 30px;
    border: 0px;
    background-color: #000000;
    color: #fff;
    font-weight: 300;
}

/* contribution-section css */

.contribution-section {
    padding-top: 100px;
    background-color: #fff;
    position: relative;
    z-index: 100;
    padding-bottom: 100px;
}

.contribution-section .container {
    background-image: url('image/Categories/contribute-img.webp');
    background-position: center;
    background-size: cover;
    height: 100% !important;
    width: 100% !important;
    padding: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/* media query starting */

@media all and (max-width:900px) {

    /* categories-section css */

    .categories-section {
        margin-top: 70px;
    }

    /* design-section css */

    /* .design-section {
        margin-top: 20px;
    } */

    .main-design {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 8px 0px; 
        font-family: "Inter", sans-serif;
        /* padding-bottom: 100px; */
    }

    .design {
        border: 1px solid #00000091;
        border-radius: 0px;
        padding: 15px 15px 10px 15px;
        width: 49%;
        transition: 0.3s;
        display: flex;
        justify-content: space-between;
    }

    /* ai-section css */

    .ai-section {
        padding-top: 100px !important;
        padding-bottom: 100px;
    }

    .bg-gray {
        background-color: rgba(0, 0, 0, 0.04);
        padding: 30px 0px;
        height: 15vh;
    }

    /* contribution-section css */

    .contribution-section {
        padding-top: 0px !important;
    }

    .contribution-section .container br {
        display: none;
    }

    .contribution-section .container {
        background-image: url('image/Categories/contribute-img.webp');
        background-position: center;
        background-size: cover;
        height: 100% !important;
        width: 100% !important;
        padding: 30px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
}

@media all and (max-width:768px) {

    /* categories-section css */

    .categories-section {
        margin-top: 60px;
        padding-top: 80px !important;
    }

    .main-categories {
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
        font-family: "Inter", sans-serif;
    }

    .categories {
        border: 1px solid #00000091;
        padding: 2px 7px;
        border-radius: 0px;
        transition: 0.3s;
    }

    /* design-section css */

    .design-section {
        margin-top: 0px !important;
    }

    .main-design {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 5px;
        font-family: "Inter", sans-serif;
        padding-bottom: 0px;
    }

    .design {
        border: 1px solid #00000091;
        border-radius: 0px;
        padding: 15px 15px 10px 15px;
        width: 100%;
        transition: 0.3s;
        display: flex;
        justify-content: space-between;
    }

    /* ai-section css */

    .ai-section {
        margin-top: 0px !important;
        padding-top: 60px !important;
    }

    .bg-gray {
        background-color: rgba(0, 0, 0, 0.04);
        padding: 30px 0px;
        height: 25vh;
    }

    .bg-team {
        background-color: #F8F8F8;
        padding: 40px 10px;
    } 

    .hashTags {
        height: 40px;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 10px 0px 10px;
        background-color: rgba(0, 0, 0, 0.04);
        font-size: 12px;
    }

    /* contribution-section css */

    .contribution-section {
        margin-top: 0px;
    }

    .contribution-section .container {
        background-image: url('image/Categories/contribute-img.webp');
        background-position: center;
        background-size: cover;
        height: 100% !important;
        width: 100% !important;
        padding: 30px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
}