/* banner section css */

.feature-banner-section {
    margin-top: 200px;
}

.feature-banner-section .container h1 {
    color: black;
    margin-top: 40px;
}

.feature-banner-section .container p span {
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.feature-banner-section .container p {
    color: #000000e0;
    font-family: "Inter", sans-serif;
}

.feature-banner-section .container .card {
    background-color: transparent;
    text-align: left;
    border: 0px;
}

.feature-banner-section .container .card h3 {
    color: #000;
    font-size: 22px;
}

/* newBlog-section css */

.newBlog-section {
    margin-top: 100px;
    background-color: #010102;
    padding: 60px 0px;
}

.newBlog-section .container h3 {
    color: #fff;
}

.newBlog-section .container p {
    color: #ffffffc5;
    font-family: "Inter", sans-serif;
}

.newBlog-section .container .card {
    background-color: transparent;
    text-align: left;
    border: 0px;
}

.newBlog-section .container .card h3 {
    color: #fff;
    font-size: 22px;
}

@media all and (max-width:900px) {

    /* banner section css */

    .feature-banner-section {
        margin-top: 100px;
    }

    .feature-banner-section .banner-img {
        height: 150px;
    }

}

@media all and (max-width:768px) {

    /* banner section css */

    .feature-banner-section {
        margin-top: 100px;
    }

    .feature-banner-section .banner-img {
        padding: 0px !important;
    }

    /* newBlog-section css */

    .newBlog-section {
        margin-top: 0px;
    }
}