@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Metrophobic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Metrophobic", sans-serif;
    font-family: "Inter", sans-serif;
}

:root {
    --teamColor: #832816;
    --paragraph: #A2A2A2;
}

a {
    text-decoration: none !important;
}

#lottie-container > svg > g > g:last-child > g > path {
    fill: white;
}

#lottie-container > svg > g > g:nth-child(2) > g > path:first-child {
    fill: white !important;
}

#lottie-container > svg > g > g:nth-child(1) > g > path:first-child {
    fill: white !important;
}

.no-scroll {
    overflow: hidden;
    position: fixed; /* Prevent body scroll */
    width: 100%;
    height: 100%;
}

.input-box button.disabled {
    opacity: 0.5;
    background-color: #787878;
    cursor: not-allowed;
    border: 0px;
}

.input-box button.enabled {
    opacity: 1;
    background-color: black;
    cursor: pointer;
}

.nav-overlay {
    display: none;
}

/* Navbar section */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 15px 30px 15px 30px;
    z-index: 1000;
    background-color: #fff;
    border-bottom: 1px #CCCCCC solid;
}

header.sticky {
    padding: 15px 30px 15px 30px;
    background-color: #fff;
    border-bottom: 1px #CCCCCC solid;
}

header .logo {
    position: relative;
    color: var(--textColor);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.6s;
}

.logo img {
    height: 50px;
}

.nav__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item {
    position: relative;
    list-style: none;
    margin-top: 20px;
}

.nav__item a {
    position: relative;
    margin: 0 35px;
    text-decoration: none;
    transition: 0.6s;
    font-family: "Metrophobic", sans-serif;
    color: #1A1A1A; 
    font-size: 16px; 
    font-weight: 400; 
    text-transform: uppercase;
}

.nav__item a:hover {
    color: #494949ee;
}

.nav__link {
    padding: 10px;
    color: #000000ee;
    font-weight: 600;
}

.header__close,
.header__toggle ,
.header-img{
    display: none;
}

header.sticky .logo,
header.sticky ul li a {
    color: #1A1A1A;
}

.navBtn button {
    margin: 0 1px;
    padding: 10px 24px;
}

.signUp-btn {
    background-color: transparent;
    border: 0.80px rgba(0, 0, 0, 0.60) solid;
    transition: 0.3s;
    padding: 0px;
    color: rgba(0, 0, 0, 0.70); 
    font-size: 14px; 
    font-family: "Inter", sans-serif; 
    font-weight: 400; 
    text-transform: uppercase;
}

.Contribute-btn {
    background-color: #1A1A1A;
    color: #fff;
    border: 1px solid #1A1A1A;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
}

.Contribute-btn-tab {
    display: none;
}
  
.Contribute-btn i, .Contribute-btn-tab i {
    margin-right: 8px;
    transition: transform 0.3s ease;
}
  
.Contribute-btn:hover i, .Contribute-btn-tab:hover i {
    transform: rotate(45deg);
}

/* banner section css */

.banner-section {
    height: 60vh;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 80px;
    position: sticky;
    top: 92px;
}

.banner-section .container h1 {
    text-align: center; 
    color: black; 
    font-family: "Metrophobic", sans-serif; 
    font-weight: 500; 
    color: black;
    line-height: 44.80px;
    text-transform: capitalize;
}

.box {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.box-card {
    border-radius: 0px;
    padding: 20px 20px 10px 20px;
    width: 35%;
    background: #FEFEFE; 
    border: 1px #E4E4E7 solid;
    display: flex;
    text-align: left;
}

.box-card p {
    color: #09090B; 
    font-size: 14px; 
    font-family: "Inter", sans-serif; 
    font-weight: 400; 
    line-height: 24px;
}

.box-card p span {
    font-weight: 600;
    color: #000;
}

.input-box {
    display: flex;
    width: 78%; 
}

.input-box input {
    outline: #00000091;
    padding: 0px 25px;
    background-color: transparent;
    width: 100%; 
    border: 1px 0px 1px 1px #DADADA solid;
    background: #FEFEFE;
}

.input-box input::placeholder{
    color: rgba(0, 0, 0, 0.70) !important; 
    font-size: 16px !important;
    font-weight: 400 !important;
}

.input-box button {
    padding: 15px;
    color: #fff;
    border: 1px solid #000;
    white-space: nowrap; 
    font-size: 20px;
    background: #030303;
}

/* Popup overlay */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/* Popup content */

.popup-content {
    background-color: #fff;
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    width: 40%;
    text-align: center;
    animation: fadeIn 0.3s ease;
    position: relative;
}

.continue-popup {
    background-color: #000 !important;
    color: white !important; 
    font-size: 14px !important; 
    font-family: "Metrophobic", sans-serif !important; 
    font-weight: 500 !important; 
    text-transform: uppercase !important;
    padding: 10px 20px !important;
    display: flex !important;
    align-items: center !important;
}

.popup-content .popup-heading {
    background-image: url('image/PopUp-img.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding: 45px 20px 35px 20px;
}

.popup-content .popup-heading button {
    background-color: transparent;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    font-size: 26px;
    font-weight: 200;
    color: #fff;
}

.popUp-datas {
    padding: 20px 20px;
}

.popUp-datas label {
    color: rgba(0, 0, 0, 0.90); 
    font-size: 14px; 
    font-family: "Metrophobic", sans-serif; 
    font-weight: 400; 
    word-wrap: break-word;
    text-align: left !important;
    display: flex;
    justify-content: flex-start;
}

.popUp-datas select{
    width: 100% !important;
    padding : 15px 20px 15px 10px;
    border: 1px #E4E4E4 solid;
    outline: none;
}

.popUp-datas select {
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.popUp-datas select:focus {
    color: rgba(0, 0, 0, 0.8);
}

.popUp-datas select option:checked {
    color: rgba(0, 0, 0, 1);
}

.popUp-datas input {
    padding : 15px 20px 15px 10px !important;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #E4E4E4;
    border-radius: 0px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    outline: none;
}

input[type="text"]:focus {
    border-color: #E4E4E4;
    outline: none;
}

.dropdown-input {
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 5px;
    /* overflow: hidden; */
    position: relative;
}

.dropdown-input-header {
    padding : 15px 20px 15px 10px !important;
    border: 1px solid #E4E4E4;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
}

.dropdown-input-header span {
    color: rgba(0, 0, 0, 0.90); 
    font-size: 14px !important; 
    font-family: "Metrophobic", sans-serif; 
    font-weight: 500;
}

.dropdown-input-header i {
    font-size: 12px;
}

.dropdown-input-content {
    display: none;
    background: white;
    position: absolute;
    width: 100%;
}

.dropdown-input-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #E4E4E4;
}

.dropdown-input-item span { 
    font-family: "Metrophobic", sans-serif; 
    font-weight: 500;
    color: rgba(0, 0, 0, 0.90); 
    font-size: 16px !important;
}

.dropdown-input-item:hover {
    background: #f1f1f1;
}

.dropdown-input-item i {
    color: #000000;
}

/* newBlog-section css */

.newBlog-section {
    margin-top: 100px;
    background-color: #010102;
    padding: 60px 0px 100px 0px;
}

.articl-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.articl-btn button {
    padding: 10px 24px;
    background: white;
    border: 0px;
    color: #000;
    width: 230px;
}

.newBlog-section .container h3 {
    color: rgba(255, 255, 255, 0.90); 
    font-size: 24px; 
    font-family: "Metrophobic", sans-serif; 
    font-weight: 500;
}

.newBlog-section .container p {
    color: #6A6A6A; 
    font-size: 18px; 
    font-family: "Metrophobic", sans-serif; 
    font-weight: 400; 
    letter-spacing: 0.18px;
}

.newBlog-section .container .card {
    background-color: transparent;
    text-align: left;
    border: 0px;
}

.newBlog-section .container .card h3 {
    color: rgba(255, 255, 255, 0.90); 
    font-size: 18px; 
    font-family: "Inter", sans-serif; 
    font-weight: 400;
    letter-spacing: 0.18px;
    line-height: 27px;
}

.blog-section-card {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: auto; 
    overflow-y: hidden; 
    width: 100%;
    /* gap: 1rem;  */
    scroll-behavior: smooth;
    padding: 0;
}

.blog-section-card .card {
    flex-shrink: 0;
    width: 32rem;
}

.blog-section-card::-webkit-scrollbar {
    display: none;
}

.blog-section-card {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* contribution-section section */

.contribution-btn {
    background-color: #1A1A1A;
    color: #fff;
    border: 1px solid #1A1A1A;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
}

.contribution-btn i {
    margin-right: 8px;
    transition: transform 0.3s ease;
}
  
.contribution-btn:hover i{
    transform: rotate(45deg);
}

/* footer css */

.footer-section {
    margin-top: 0px;
    background-image: url('image/BlogMain/footer-bg-img.webp');
    background-position: center;
    background-size: cover;
    height: 100% !important;
    width: 100% !important;
    position: relative;
    z-index: 100;
}

.footer-section .line {
    width: 100%;
    height: 1px;
    background-color: #A2A2A2;
}

.footer-section .logo {
    height: auto;
    width: 100px;
}

.footer-section .container {
    padding: 60px 0px;
}

.footer-section .container p {
    color: white; 
    font-size: 13px; 
    font-family: "Metrophobic", sans-serif; 
    font-weight: 400; 
    text-transform: capitalize; 
}

.footer-nav {
    display: flex;
    align-items: center;
}

.footer-section .container ul {
    color: #fff;
    list-style: none;
}

.footer-section .container ul li a{
    margin: 0 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.70); 
    font-size: 16px; 
    font-family: "Inter", sans-serif; 
    font-weight: 400; 
    text-transform: uppercase; 
    word-wrap: break-word;
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.copyright p {
    font-family: "Inter", sans-serif;
    color: #B3B3B3; 
    font-size: 12px; 
    font-weight: 400;
}

.copyright button {
    background-color: transparent;
    color: #fff;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 2px; 
    border: 1px rgba(255, 255, 255, 0.24) solid;
    font-size: 12px; 
    font-family: "Metrophobic", sans-serif; 
    font-weight: 400; 
    text-transform: uppercase;
}

/* media query starting */

@media all and (min-width:1440px) { 
    .container {
        max-width: 1600px !important;
    }
}

@media all and (max-width:1440px) { 
    .container {
        max-width: 1400px !important;
    }
}

@media all and (max-width:1040px) { 

    .container {
        max-width: 1000px !important;
    }
    
    .logo img {
        height: 45px;
    }
    
    .nav__item a {
        position: relative;
        margin: 0 20px;
        text-decoration: none;
        transition: 0.6s;
        font-family: "Metrophobic", sans-serif;
        color: #1A1A1A; 
        font-size: 14px; 
        font-weight: 400; 
        text-transform: uppercase;
    }
    
    .navBtn button {
        margin: 0 1px;
        padding: 8px 20px;
    }
    
    .signUp-btn {
        background-color: transparent;
        border: 0.80px rgba(0, 0, 0, 0.60) solid;
        transition: 0.3s;
        padding: 0px;
        color: rgba(0, 0, 0, 0.70); 
        font-size: 12px; 
        font-family: "Inter", sans-serif; 
        font-weight: 400; 
        text-transform: uppercase;
    }
    
    .Contribute-btn {
        background-color: #1A1A1A;
        color: #fff;
        border: 1px solid #1A1A1A;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 12px;
    }
}

@media all and (max-width:990px) {
    /* banner section css */

    .banner-section {
        height: 80vh;
        background-color: #F8F8F8;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
    }

    .box {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .box-card {
        background: #FEFEFE; 
        border: 1px #E4E4E7 solid;
        border-radius: 0px;
        padding: 6px 10px 0px 10px;
        width: 49%;
    }

    .input-box {
        display: flex;
        width: 100%; 
    }
}

@media all and (max-width:900px) {

    /* navbar css */
    body {
        overflow-x: hidden;
    }

    body.overflow-hidden {
        overflow: hidden;
    }

    header {
        height: 48px;
        justify-content: space-between;
        padding: 30px 40px 30px 40px;
    }

    .header__toggle {
        display: inline;
        color: #000;
        font-size: 24px;
    }

    header.sticky .header__toggle {
        display: inline;
        color: #000;
        font-size: 24px;
    }

    .header__close {
        position: absolute;
        right: 40px;
        top: 30px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
        z-index: 1000;
        color: #000000;
    }

    .header-img {
        position: absolute;
        left: 40px;
        top: 30px;
        display: block;
        height: 30px;
        width: auto;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #fff;
        color: var(--paragraph);
        width: 100%;
        height: 45vh;
        padding: 24px 0;
        z-index: 1000;
        transition: 0.5s;
        z-index: 1000;
    }

    .nav-overlay {
        display: block;
    }

    .nav-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(189, 189, 189, 0.411);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        z-index: 999; /* Make sure it covers everything except the nav */
    }
    
    body.nav-open .nav-overlay {
        opacity: 1;
        pointer-events: auto;
    }

    header.sticky {
        padding: 30px 40px 30px 40px;
        background-color: #fff;
        box-shadow: 3px 4px 4px 0px hsla(0, 0%, 84%, 0.5);
    }

    header .logo {
        position: relative;
        color: var(--textColor);
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.6s;
    }

    .logo img {
        height: 35px;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        margin: 0 !important;
        padding: 0px 30px !important;
        width: 100% !important;
        position: relative;
        justify-content: center;
        align-items: flex-start !important;
    }

    .show {
        right: 0;
    }

    .nav__item a {
        color: #000000;
        text-align: left !important;
        margin: 0px !important;
    }

    .nav__item {
        margin: 2rem 0;
    }

    .nav__list a {
        text-decoration: none;
        position: relative;
        width: 100% !important;
    }

    .nav__list a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: var(--teamColor);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    .Contribute-btn {
        display: none;
    }
    
    .Contribute-btn-tab {
        display: block;
        background-color: #000000;
        color: #ffffff;
        border: none;
        cursor: pointer;
        padding: 8px 25px 8px 25px;
        width: 100% !important;
    }

    .signUp-btn {
        position: absolute;
        right: 95px;
        top: 12px;
        padding: 4px 20px 4px 20px;
    }

    /* banner section css */

    .banner-section {
        height: 50vh;
        background-color: #F8F8F8;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        position: sticky;
        top: 50px;
    }

    .box {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .box-card {
        background: #FEFEFE; 
        border: 1px #E4E4E7 solid;
        border-radius: 0px;
        padding: 6px 10px 0px 10px;
        width: 49%;
    }

    .input-box {
        display: flex;
        width: 100%; 
    }

    /* Popup content */
    .popup-content {
        background-color: #fff;
        padding: 0px;
        border-radius: 0px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 90%;
        width: 80%;
        text-align: center;
        animation: fadeIn 0.3s ease;
    }

    /* newBlog-section css */

    .blog-section-card .card {
        flex-shrink: 0;
        width: 26rem;
    }

    /* footer section css */

    .footer-section {
        margin-top: 0px;
        background-image: url('image/BlogMain/footer-bg-img.webp');
        background-position: center;
        background-size: cover;
        height: 100% !important;
        width: 100% !important;
    }
}

@media all and (max-width:768px) {

    br {
        display: none !important;
    }

    /* navbar css */
    body {
        overflow-x: hidden;
    }

    body.overflow-hidden {
        overflow: hidden;
    }

    .logo img {
        height: 32px;
    }

    header {
        height: auto;
        justify-content: space-between;
        padding: 10px 10px 10px 10px;
    }

    .header__toggle {
        display: inline;
        color: #000;
        font-size: 26px;
    }

    .header__close {
        position: absolute;
        right: 20px;
        top: 20px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
        z-index: 1000;
        color: #000000;
    }

    .header-img {
        position: absolute;
        left: 20px;
        top: 30px;
        display: block;
        height: 25px;
        width: auto;
    }

    .nav__item a {
        color: #000000;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #ffffff;
        color: #000000ee;
        width: 100%;
        height: 100vh;
        padding: 24px 0;
        z-index: 1000;
        transition: 0.5s;
        border-radius: 0 0 0 0%;
        z-index: 1000;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start !important;
        padding: 60px 10px 0px 10px !important;
    }

    .show {
        right: 0;
    }

    .nav__item {
        margin: 1.5rem 0;
    }

    header.sticky {
        padding: 10px 10px 10px 10px;
        background-color: #fff;
        box-shadow: 3px 4px 4px 0px rgba(214, 214, 214, 0.50);
    }

    .signUp-btn {
        position: absolute;
        right: 50px;
        top: 11px;
        padding: 4px 10px 2px 10px !important;
    }

    /* banner section css */

    .box-card-phone {
        display: none !important;
    }

    .banner-section {
        height: 70vh;
        background-color: #F8F8F8;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        position: sticky;
        top: 0px;
    }

    .banner-section .container h1 {
        text-align: center; 
        color: black; 
        font-family: "Metrophobic", sans-serif; 
        font-weight: 500; 
        color: black;
        line-height: 38px;
        text-transform: capitalize;
    }
    
    .input-box input::placeholder{
        color: rgba(0, 0, 0, 0.70) !important; 
        font-size: 12px !important;
        font-weight: 400 !important;
    }
    
    .box-card p {
        color: #09090B; 
        font-size: 12px; 
        font-family: "Inter", sans-serif; 
        font-weight: 400; 
        line-height: 24px;
        width: 95%;
    }

    .box-card {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px 0px 15px !important;
        background: #FEFEFE; 
        border: 1px #E4E4E7 solid;
        width: 100%;
        margin-bottom: 10px;
        height: 65px;
    }
    
    .box-card p {
        line-height: 20px;
    }
    
    .input-box {
        display: flex;
        width: 100%; 
    }

    .box {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
    }

    .input-box input {
        background: #FEFEFE;
        padding: 10px 20px;
        width: 100%;
        border-top: 1px #DADADA solid !important;
        border-bottom: 1px #DADADA solid !important;
        border-left: 1px #DADADA solid;
        border-right: 0px #fff solid !important;
    }

    .input-box button {
        padding: 10px;
        color: #fff;
        border: 0px solid #000 !important;
        white-space: nowrap; 
        font-size: 20px;
        background: #030303;
    }

    /* newBlog-section css */
    
    .newBlog-section {
        margin-top: 60px;
        background-color: #010102;
        padding: 30px 0px 50px 0px;
    }
    
    .articl-section {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0px;
    }
    
    .articl-btn button {
        padding: 10px 5px;
        background: white;
        border: 0px;
        color: #000;
        width: 160px;
        font-size: 14px;
    }
    
    .newBlog-section .container p {
        color: #6A6A6A; 
        font-size: 14px; 
        font-family: "Metrophobic", sans-serif; 
        font-weight: 400; 
        letter-spacing: 0.18px;
    }
    
    .blog-section-card .card {
        flex-shrink: 0;
        width: 20rem;
        margin-top: 20px;
    }

    .blog-section-card .card .card-body {
        padding: 15px 0px 15px 15px;
    }
    
    .blog-section-card::-webkit-scrollbar {
        display: none;
    }
    
    .blog-section-card {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .newBlog-section .container .card h3 {
        color: rgba(255, 255, 255, 0.90);
        font-size: 14px;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        letter-spacing: 0.18px;
        line-height: 22px;
    }

    /* Popup content */

    .popup-content {
        background-color: #fff;
        padding: 0px;
        border-radius: 0px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 90%;
        width: 97%;
        text-align: center;
        animation: fadeIn 0.3s ease;
    }

    .continue-popup {
        background-color: #000 !important;
        color: white !important; 
        font-size: 14px !important; 
        font-family: "Metrophobic", sans-serif !important; 
        font-weight: 500 !important; 
        text-transform: uppercase !important;
        padding: 5px 10px !important;
        display: flex !important;
        align-items: center !important;
    }
    
    .popup-content .popup-heading {
        background-image: url('image/PopUp-img.webp');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: space-between;
        padding: 35px 5px 25px 10px;
    }

    .popUp-datas {
        padding: 10px 10px;
    }

    .popUp-datas input {
        padding : 10px 10px 10px 10px !important;
        font-weight: 300 !important;
        font-size: 12px;
    }

    .dropdown-input-header {
        padding: 10px !important;
        font-weight: 300 !important;
        font-size: 12px;
    }

    .dropdown-input-item span {
        font-size: 12px !important;
        font-weight: 300 !important;
    }
    
    .form-group {
        margin-bottom: 15px;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
        font-family: "Inter", sans-serif;
        font-size: 12px;
        font-weight: 500;
        color: #333;
    }
    

    /* footer css */

    .footer-section {
        margin-top: 0px;
        background-image: url('image/BlogMain/footer-bg-img.webp');
        background-position: center;
        background-size: cover;
        height: 100% !important;
        width: 100% !important;
        padding: 0px 15px;
    }

    .footer-section .line {
        width: 100%;
        height: 1px;
        background-color: #A2A2A2;
    }

    .footer-section .logo {
        height: auto;
        width: 80px;
    }

    .footer-section .container {
        padding: 60px 0px;
    }

    .footer-section .container p {
        color: white; 
        font-size: 13px; 
        font-family: "Metrophobic", sans-serif; 
        font-weight: 400; 
        text-transform: capitalize; 
    }

    .footer-nav {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: end;
    }

    .webseek {
        display: none;
    }

    .footer-section .container ul {
        color: #fff;
        list-style: none;
    }

    .footer-section .container ul li a{
        margin: 0 10px;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.70); 
        font-size: 12px; 
        font-family: "Inter", sans-serif; 
        font-weight: 400; 
        text-transform: uppercase; 
        word-wrap: break-word;
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .copyright-button {
        display: flex;
        margin-top: 20px;
    }

    .copyright p {
        font-family: "Inter", sans-serif;
        color: #B3B3B3; 
        font-size: 12px; 
        font-weight: 400;
    }

    .copyright button {
        background-color: transparent;
        color: #fff;
        padding: 5px 8px;
        margin: 0 8px;
        border-radius: 2px; 
        border: 1px rgba(255, 255, 255, 0.24) solid;
        font-size: 12px; 
        font-family: "Metrophobic", sans-serif; 
        font-weight: 400; 
        text-transform: uppercase;
    }
}