/* profile-banner-section */

.profile-banner-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.profile-name {
    display: flex;
    align-items: center;
    padding: 0px !important;
    margin-bottom: 50px;
}

.profile-name img {
    width: 90px; 
    height: 90px;
}

.profile-name h2 {
    color: black; 
    font-size: 32px; 
    font-family: sans-serif; 
    font-weight: 400; 
    text-transform: capitalize;
    word-wrap: break-word;
}

.nav-items {
    position: relative;
    padding: 0px !important;
}

.nav-items ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-items ul li {
    margin: 0px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}

.nav-items ul li .nav-link {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    position: relative;
}

.nav-items ul li .nav-link.active {
    color: #000 !important;
}

.nav-items ul li .nav-line {
    height: 3px;
    width: 0;
    background-color: #000;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.section .card {
    width: 28rem;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    margin-top: 70px;
}

.section .card h4 {
    color: black; 
    font-size: 24px; 
    font-family: "Inter", sans-serif; 
    font-weight: 400;
}

.section .card p {
    color: rgba(0, 0, 0, 0.70); 
    font-size: 14px; 
    font-family: "Inter", sans-serif; 
    font-weight: 300;
}

.section .card button {
    background-color: #000;
    border: 0px;
    padding: 8px 20px;
    color: #fff;
    font-size: 12px; 
    font-family: sans-serif; 
    font-weight: 500; 
    text-transform: capitalize;
}

@media all and (max-width:900px) { 
    .saved-img {
        position: absolute;
        right: 80px;
        top: 12px;
        width: 40px; 
        height: 40px;
    }

    .profile-banner-section {
        height: 70vh;
        display: flex;
        justify-content: center;
        margin-top: 150px;
    }
}

@media all and (max-width:768px) { 

    .saved-img {
        position: absolute;
        right: 50px;
        top: 8px;
        width: 35px; 
        height: 35px;
    }

    .profile-banner-section {
        height: 100vh;
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    .profile-name h2 {
        color: black; 
        font-size: 26px; 
        font-family: sans-serif; 
        font-weight: 400; 
        text-transform: capitalize;
        word-wrap: break-word;
    }
    
    .nav-items ul li .nav-line {
        height: 3px;
        width: 0;
        background-color: #000;
        position: absolute;
        bottom: -5px;
        left: 10px;
        transition: all 0.3s ease-in-out;
    }
    
    .section .card {
        width: 100%;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 0px;
        margin-top: 70px;
    }
}