@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Metrophobic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Metrophobic", sans-serif;
    font-family: "Inter", sans-serif;
}



/* media query starting */

@media all and (max-width:900px) {

}

@media all and (max-width:768px) {

}