@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Inter:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Metrophobic&display=swap');

body {
    font-family: 'Metrophobic', sans-serif;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

.banner-section {
    color: #fff;
    height: 100%;
    padding: 40px;
    position: relative;
}

.banner-img-tab {
    display: none;
}

.banner-img {
    max-width: 90%;
    height: auto;
}

.banner-section h2 {
    position: absolute;
    bottom: 100px;
    font-size: 35px; 
    font-family: 'Metrophobic', sans-serif; 
    font-weight: 400;
    line-height: 50px;
}

form input {
    width: 100%;
    border: 1px #E4E4E4 solid;
    padding: 10px 10px;
}

input::placeholder {
    color: #B3B3B3; 
    font-size: 15px; 
    font-family: "Inter", sans-serif; 
    font-weight: 400;
}

.forget-pass {
    color: #1A1A1A; 
    font-size: 16px; 
    font-family: 'Metrophobic', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

input:focus {
    outline: none !important;
}

form label {
    color: #1A1A1A !important; 
    font-size: 18px !important; 
    font-family: 'Metrophobic', sans-serif !important; 
    font-weight: 400;
}

.logo-head {
    display: flex;
    justify-content: space-between;
}

.logo-head h5 a {
    text-decoration: none;
    color: #1A1A1A; 
    font-size: 16.01px; 
    font-family: "Inter", sans-serif; 
    font-weight: 500;
}

.logo-head img {
    height: 40px;
}

.banner-datas h1 {
    color: #030303; 
    font-size: 38px; 
    font-family: 'Metrophobic', sans-serif; 
    font-weight: 500;
}

.banner-datas p {
    color: #666666; 
    font-size: 20px; 
    font-family: 'Metrophobic', sans-serif; 
    font-weight: 400;
}

.sign-btn {
    width: 100%;
    border: 1px #030303 solid;
    padding: 10px 10px;
    background-color: #030303;
    color: #fff;
}

.sign-btn-google {
    width: 100%;
    border: 1px rgba(0, 0, 0, 0.10) solid;
    padding: 10px 10px;
    background-color: white;
    color: rgba(0, 0, 0, 0.54); 
    font-size: 18px; 
    font-family: "Inter", sans-serif; 
    font-weight: 500;
}

.tab-section {
    display: none;
}

/* Responsive Design */

@media (max-width: 1440px) { 
    .banner-img {
        max-width: 80% !important;
        height: auto;
    }

    .banner-section h2 {
        position: absolute;
        bottom: 50px;
        font-size: 35px; 
        font-family: 'Metrophobic', sans-serif; 
        font-weight: 400;
        line-height: 50px;
    }
}

@media (max-width: 1024px) { 
    .banner-img {
        max-width: 100% !important;
        height: auto;
    }

    .banner-section h2 {
        position: absolute;
        bottom: 80px;
        font-size: 35px; 
        font-family: 'Metrophobic', sans-serif; 
        font-weight: 400;
        line-height: 50px;
    }
}

@media (max-width: 900px) {
    .banner-section {
        color: #fff;
        height: auto;
        padding: 0px;
        position: relative;
    }
    
    .banner-img ,.web-section{
        display: none;
    }

    .banner-img-tab {
        display: block;
        width: 100%;
        height: 15vh;
    }

    .tab-section {
        display: flex;
        height: 100vh;
        align-items: center;
    }
    
    .banner-section h2 {
        display: none;
    }
}

@media (max-width: 768px) {
    .tab-section {
        display: flex;
        height: auto;
        padding: 30px 0px;
    }

    form input {
        width: 100%;
        border: 1px #E4E4E4 solid;
        padding: 10px 10px;
    }
    
    input::placeholder {
        color: #B3B3B3; 
        font-size: 14px; 
        font-family: "Inter", sans-serif; 
        font-weight: 400;
    }
    
    .forget-pass {
        color: #1A1A1A; 
        font-size: 14px; 
        font-family: 'Metrophobic', sans-serif;
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }
    
    form label {
        color: #1A1A1A !important; 
        font-size: 14px !important; 
        font-family: 'Metrophobic', sans-serif !important; 
        font-weight: 400;
    }
    
    .logo-head h5 a {
        text-decoration: none;
        color: #1A1A1A; 
        font-size: 14px; 
        font-family: "Inter", sans-serif; 
        font-weight: 500;
    }
    
    .logo-head img {
        height: 30px;
    }
    
    .banner-datas h1 {
        color: #030303; 
        font-size: 28px; 
        font-family: 'Metrophobic', sans-serif; 
        font-weight: 500;
        margin-top: 10px !important;
    }
    
    .banner-datas p {
        color: #666666; 
        font-size: 14px; 
        font-family: 'Metrophobic', sans-serif; 
        font-weight: 400;
    }
}