/* side bar css */

.sidebarNav {
    position: fixed;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 64px;
    height: auto;
    background: white;
    border: 1px rgba(0, 0, 0, 0.10) solid;
    font-size: 13px;
    z-index: 3000;
}

.sidebarNavItem {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
    font-size: 12px;
    margin-bottom: 2px;
    color: rgba(0, 0, 0, 0.50);
    font-family: roboto, arial, sans-serif;
    font-weight: 100;
}

.sidebarNav a {
    text-decoration: none;
}

/* all-items css */

.all-items {
    padding-top: 50px;
    background-color: #fff;
    position: relative;
    z-index: 100;
    padding-bottom: 100px;
}

.all-items .all-items-data {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.all-items .filter-btn button {
    color: rgba(0, 0, 0, 0.90); 
    font-size: 16px; 
    font-family: "Inter", sans-serif; 
    font-weight: 400;
    padding: 5px 20px;
    background: #F8F8F8; 
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.nav-items {
    position: relative;
}

.all-items .nav-items ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.all-items .nav-items ul li {
    margin: 0 20px;
    color: black;
    font-size: 18px; 
    font-family: "Inter", sans-serif; 
    font-weight: 400; 
    text-transform: uppercase;
    position: relative;
}

.all-items .nav-items ul li .active {
    color: #000 !important;
    position: relative !important;
    left: 0px !important;
}

.all-items .nav-items ul li .nav-line {
    height: 3px;
    width: 100%;
    background-color: #000;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.all-items .nav-items ul li a {
    color: rgba(0, 0, 0, 0.50);
}

.nav-items a.active + .nav-line {
    visibility: visible;
    position: relative;
    left: 0px !important;
}

.dropdown button {
    background: #FEFEFE; 
    border: 1px rgba(0, 0, 0, 0.10) solid;
    text-transform: uppercase;
    font-size: 16px; 
    font-family: "Inter", sans-serif; 
    font-weight: 400;
    padding: 5px 20px;
}

/* items-parent-1 css */

.section {
    padding: 0px;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 100;
}

.section .premium {
    padding: 5px 10px;
    background-color: #F0F0F0;
}

.sections {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.section .items-child {
    border: 1px #F0F0F0 solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32.5%;
    height: 130px;
}

.section .items-child {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.section .items-child-img {
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    box-sizing: border-box;
    padding: 10px;
    width: 23%;
}

.section .items-child-img img {
    width: auto;
    height: auto; 
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}

.section .items-child-datas {
    padding: 15px;
    flex-grow: 1;
    box-sizing: border-box;
    width: 77%;
}

.section .items-child h4 {
    color: rgba(0, 0, 0, 0.90); 
    font-size: 19px; 
    font-family: "Inter", sans-serif; 
    font-weight: 500;
}

.section .items-child h6 {
    color: rgba(0, 0, 0, 0.70); 
    font-size: 15px; 
    font-family: "Inter", sans-serif; 
    font-weight: 400;
}

.section .items-child p { 
    color: rgba(0, 0, 0, 0.50);
    font-family: "Inter", sans-serif; 
    font-weight: 400;
    font-size: 13px;
}

.active-section {
    display: flex;
    justify-content: space-between;
}

.see-more {
    display: flex;
    justify-content: center;
}

.see-more button {
    background-color: #F9F9F9; 
    border: 1px rgba(0, 0, 0, 0.40) solid;
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.90); 
    font-size: 14px; 
    font-family: "Inter", sans-serif; 
    font-weight: 400; 
    text-transform: uppercase;
}

#flex-section {
    display: none;
}

/* contribution-section css */

.contribution-section {
    margin-top: 0px;
    background-color: #fff;
    position: relative;
    z-index: 100;
}

.contribution-section .container {
    background-image: url('image/Categories/contribute-img.webp');
    background-position: center;
    background-size: cover;
    height: 100% !important;
    width: 100% !important;
    padding: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.getTeach-btn button {
    padding: 10px 30px;
    border: 0px;
    background-color: #000000;
    color: #fff;
    font-weight: 300;
}

/* ai-section css */

.ai-section {
    padding-top: 100px;
    background-color: #fff;
    position: relative;
    z-index: 100;
    padding-bottom: 100px;
}

.ai-section p {
    color: #000000a9;
}

.border-line {
    border: 1px solid #CDCDCD;
}

.bg-gray {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 30px 0px;
}

.bg-team {
    background-color: #F8F8F8;
    padding: 40px 30px;
} 

.dog-img {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.04);
}

.bg-team h4 {
    color: rgba(0, 0, 0, 0.80);
}

.hashTags {
    height: 40px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 5px 20px;
    background-color: rgba(0, 0, 0, 0.04);
}

.getTeach-btn button {
    padding: 10px 30px;
    border: 0px;
    background-color: #000000;
    color: #fff;
    font-weight: 300;
}

/* newBlog-section css */

.newBlog-section {
    margin-top: 0px !important;
    background-color: #010102;
    padding: 60px 0px;
    position: relative;
    z-index: 100;
}

.newBlog-section .container h3 {
    color: #fff;
}

.newBlog-section .container p {
    color: #ffffffc5;
    font-family: "Inter", sans-serif;
}

.newBlog-section .container .card {
    background-color: transparent;
    text-align: left;
    border: 0px;
}

.newBlog-section .container .card h3 {
    color: #fff;
    font-size: 22px;
}

@media all and (max-width:1354px) {
    .section .items-child {
        border: 1px #F0F0F0 solid;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 49%;
        height: 140px;
    }
 }

@media all and (max-width:990px) {

    /* all-items css */

    .all-items {
        margin-top: 80px;
    }

    .all-items .filter-btn button {
        color: rgba(0, 0, 0, 0.90); 
        font-size: 12px; 
        font-family: "Inter", sans-serif; 
        font-weight: 400;
        padding: 5px 5px;
        background: #F8F8F8; 
        border: 1px solid rgba(0, 0, 0, 0.10);
    }

    .all-items .nav-items ul li {
        margin: 0 10px;
        color: black;
        font-size: 12px; 
        font-family: "Inter", sans-serif; 
        font-weight: 400; 
        text-transform: uppercase;
        position: relative;
    }

    /* uiUx-section css */

    .uiUx-text {
        color: rgba(0, 0, 0, 0.80); 
        font-size: 28px; 
        font-family: "Metrophobic", sans-serif; 
        font-weight: 600; 
        text-transform: uppercase;
        border-right: 2px solid black;
        width: fit-content;
        padding: 0px 10px 0px 0px;
        width: 140px;
    }

    /* items-parent-1 css */

    .section .items-child {
        border: 1px #F0F0F0 solid;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 49%;
        height: 140px;
    }

    .section .items-child-datas {
        padding: 5px 5px 5px 15px;
    }

    .section .items-child-img {
        background-color: #F0F0F0;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px; 
        height: 100%;
    }

    .section .items-child-img img {
        width: 72px; 
        height: 70px;
    }

    .section .items-child h4 {
        color: rgba(0, 0, 0, 0.90); 
        font-size: 16px; 
        font-family: "Inter", sans-serif; 
        font-weight: 500;
    }

    .section .items-child h6 {
        color: rgba(0, 0, 0, 0.70); 
        font-size: 14px; 
        font-family: "Inter", sans-serif; 
        font-weight: 400;
    }

    .section .items-child p { 
        color: rgba(0, 0, 0, 0.50);
        font-family: "Inter", sans-serif; 
        font-weight: 400;
        font-size: 12px;
    }
}

@media all and (max-width:900px) {

    /* all-items css */

    .all-items {
        margin-top: 80px;
    }

    .all-items .filter-btn button {
        color: rgba(0, 0, 0, 0.90); 
        font-size: 12px; 
        font-family: "Inter", sans-serif; 
        font-weight: 400;
        padding: 5px 5px;
        background: #F8F8F8; 
        border: 1px solid rgba(0, 0, 0, 0.10);
    }

    .all-items .nav-items ul li {
        margin: 0 10px;
        color: black;
        font-size: 12px; 
        font-family: "Inter", sans-serif; 
        font-weight: 400; 
        text-transform: uppercase;
        position: relative;
    }

    /* uiUx-section css */

    .uiUx-text {
        color: rgba(0, 0, 0, 0.80); 
        font-size: 28px; 
        font-family: "Metrophobic", sans-serif; 
        font-weight: 600; 
        text-transform: uppercase;
        border-right: 2px solid black;
        width: fit-content;
        padding: 0px 10px 0px 0px;
        width: 140px;
    }

    /* items-parent-1 css */

    .section .items-child {
        border: 1px #F0F0F0 solid;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 49%;
        height: 140px;
    }

    .section .items-child-datas {
        padding: 5px 5px 5px 15px;
    }

    .section .items-child-img {
        background-color: #F0F0F0;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px; 
        height: 100%;
    }

    .section .items-child-img img {
        width: 72px; 
        height: 70px;
    }

    .section .items-child h4 {
        color: rgba(0, 0, 0, 0.90); 
        font-size: 16px; 
        font-family: "Inter", sans-serif; 
        font-weight: 500;
    }

    .section .items-child h6 {
        color: rgba(0, 0, 0, 0.70); 
        font-size: 14px; 
        font-family: "Inter", sans-serif; 
        font-weight: 400;
    }

    .section .items-child p { 
        color: rgba(0, 0, 0, 0.50);
        font-family: "Inter", sans-serif; 
        font-weight: 400;
        font-size: 12px;
    }

    /* contribution-section css */

    .contribution-section {
        margin-top: 0px !important;
    }

    .contribution-section .container br {
        display: none;
    }

    .contribution-section .container {
        background-image: url('image/Categories/contribute-img.webp');
        background-position: center;
        background-size: cover;
        height: 100% !important;
        width: 100% !important;
        padding: 30px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    /* ai-section css */

    .ai-section {
        margin-top: 0px !important;
    }

    .bg-gray {
        background-color: rgba(0, 0, 0, 0.04);
        padding: 30px 0px;
        height: 15vh;
    }
}

@media all and (max-width:768px) {
    /* side bar */
    .sidebarNav {
        display: none;
    }

    /* all-items css */

    .all-items {
        margin-top: 60px;
    }

    .all-items .filter-btn button {
        color: rgba(0, 0, 0, 0.90); 
        font-size: 12px; 
        font-family: "Inter", sans-serif; 
        font-weight: 400;
        padding: 15px 15px;
        background: #F8F8F8; 
        border: 1px solid rgba(0, 0, 0, 0.10);
        width: 100px;
    }

    .nav-items {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        white-space: nowrap;
        margin-left: 10px;
    }

    .nav-items::-webkit-scrollbar {
        display: none;
    }

    .all-items .nav-items ul li {
        margin: 0 10px;
        color: black;
        font-size: 14px; 
        font-family: "Inter", sans-serif; 
        font-weight: 400; 
        text-transform: uppercase;
        position: relative;
    }

    .dropdown button {
        display: none;
    }

    /* uiUx-section css */

    .uiUx-text {
        color: rgba(0, 0, 0, 0.80); 
        font-size: 22px; 
        font-family: "Metrophobic", sans-serif; 
        font-weight: 600; 
        text-transform: uppercase;
        border-right: 2px solid black;
        width: fit-content;
        padding: 0px 5px 0px 5px;
        width: 120px;
    }

    /* items-parent-1 css */

    .section .items-child {
        border: 1px #F0F0F0 solid;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 140px;
    }

    /* contribution-section css */

    .contribution-section {
        margin-top: 60px;
    }

    .contribution-section .container {
        background-image: url('image/Categories/contribute-img.webp');
        background-position: center;
        background-size: cover;
        height: 100% !important;
        width: 100% !important;
        padding: 30px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    /* ai-section css */

    .ai-section {
        margin-top: 60px;
    }

    .bg-gray {
        background-color: rgba(0, 0, 0, 0.04);
        padding: 30px 0px;
        height: 25vh;
    }

    .bg-team {
        background-color: #F8F8F8;
        padding: 40px 10px;
    } 

    .hashTags {
        height: 40px;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 10px 0px 10px;
        background-color: rgba(0, 0, 0, 0.04);
        font-size: 12px;
    }

    /* newBlog-section css */
    
    .newBlog-section {
        margin-top: 100px;
        background-color: #010102;
        padding: 60px 0px;
    }
    
    .newBlog-section .container h3 {
        color: #fff;
    }
    
    .newBlog-section .container p {
        color: #ffffffc5;
        font-family: "Inter", sans-serif;
    }
    
    .newBlog-section .container .card {
        background-color: transparent;
        text-align: left;
        border: 0px;
    }
    
    .newBlog-section .container .card h3 {
        color: #fff;
        font-size: 22px;
    }
}