/* banner section css */

.tools-banner-section {
    margin-top: 150px;
}

.tools-banner-section .navigation-menu {
    display: flex;
    padding: 0px;
    margin-top: 30px;
}

.tools-banner-section .navigation-menu a {
    text-decoration: none;
    margin: 0 5px;
    font-size: 18px; 
    font-family: "Metrophobic", sans-serif; 
    font-weight: 400; 
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.60)
}

.tools-banner-section .visit-btn{
    padding: 10px 30px;  
    background-color: #030303;
    color: #fff;
    border: 0px;
    height: 50px !important;
}

.tools-banner-section .upload-btn {
    padding: 10px 15px;  
    border: 1px rgba(0, 0, 0, 0.30) solid;
    height: 50px !important;
}

.tools-banner-section .heading {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

/* .tools-banner-section .all-items {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 0px;
} */

.tools-banner-section .main-items {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 0px;
    margin-top: 20px;
}

.tools-banner-section .items {
    height: 40px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 5px 20px;
    background-color: rgba(0, 0, 0, 0.04);
}

/* review section */ 

.review-section {
    margin-top: 100px;
    padding: 0;
}

.review-section h6 {
    color: rgba(0, 0, 0, 0.90); 
    font-size: 22px; 
    font-family: "Metrophobic", sans-serif; 
    font-weight: 500; 
    text-transform: uppercase;
}

.review-section h3 {
    color: black;
    font-family: "Metrophobic", sans-serif; 
    font-weight: 500;
}

.review-section .checked {
    color: #F5841F;
}

.rate {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    height: 36px;
}

.rate input {
    display: none;
}

.rate label {
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
    margin: 0 4px;
}

.parent-container {
    text-align: left;
}

.rate input:checked ~ label {
    color: #ffc700;
}

.rate label:hover,
.rate label:hover ~ label {
    color: #deb217;
}

.review-section .rating {
    display: flex;
    gap: 20px;
}

.rating-section {
    display: flex;
    justify-content: space-between;
}

.review-section .write-btn button{
    padding: 10px 30px;  
    background-color: #030303;
    color: #fff;
    border: 0px;
    height: 50px !important;
}

.swiper-slide .card {
    width: 100%;
    background-color: #FAFAFA; 
    border: 1px #E4E4E4 solid;
    border-radius: 0px;
}

.swiper {
    width: 100%;
    height: 300px;
    padding: 0px 0px 0px 20px;
}

.swiper-scrollbar {
    display: none !important;
}

.swiper-pagination-bullet {
    height: 10px !important;
    width: 10px !important;
    border-radius: 0px !important;
}

.swiper-pagination-bullet-active {
    background-color: #000 !important;
}

/* Popup overlay */
.popup1-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/* Popup content */
.popup1-content {
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    width: 28%;
    text-align: center;
    animation: fadeIn 0.3s ease;
}

.popup1-content .popup1-heading {
    display: flex;
    justify-content: space-between;
}

.popup1-content .popup1-heading h5 {
     color: black; 
     font-size: 20px; 
     font-family: "Inter", sans-serif; 
     font-weight: 400; 
     text-transform: uppercase;
}

.popup1-content h5{
    color: black; 
     font-size: 20px; 
     font-family: "Inter", sans-serif; 
     font-weight: 400; 
     text-transform: uppercase;
     text-align: left;
}

.popup1-content .submit-btn {
    background-color: #000;
    color: #fff;
    border: 0px;
    padding: 10px 35px;
    display: flex;
    justify-content: flex-start;
}

.popup1-content .popup1-heading button {
    background-color: transparent;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    font-size: 26px;
    font-weight: 400;
}

.popup1-content .rating-star-bg button{
    background-color: transparent;
    border: 0px;
}

.popup1-content .rating-star-bg i {
    color: #0000003a;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* similarTools-section css */

.similarTools-section {
    margin-top: 60px;
    padding: 0px;
}

.similarTools-section h2 {
    color: rgba(0, 0, 0, 0.80); 
    font-size: 24px; 
    font-family: "Metrophobic", sans-serif; 
    font-weight: 500; 
    text-transform: uppercase;
    padding: 0px;
}

.premium {
    padding: 5px 10px;
    background-color: #F0F0F0;
}

.items-parent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

.items-child {
    border: 1px #F0F0F0 solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32.5%;
    height: 140px;
}

.items-child-datas {
    padding: 15px 15px 5px 15px;
}

.items-child-img {
    background-color: #F0F0F0;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px; 
    height: 140px;
}

.items-child-img img {
    width: 72px; 
    height: 70px;
}

.items-child h4 {
    color: rgba(0, 0, 0, 0.90); 
    font-size: 19px; 
    font-family: "Inter", sans-serif; 
    font-weight: 500;
}

.items-child h6 {
    color: rgba(0, 0, 0, 0.70); 
    font-size: 15px; 
    font-family: "Inter", sans-serif; 
    font-weight: 400;
}

.items-child p { 
    color: rgba(0, 0, 0, 0.50);
    font-family: "Inter", sans-serif; 
    font-weight: 400;
    font-size: 13px;
}

.seeMore-btn {
    display: flex;
    justify-content: center;
}

.seeMore-btn button{
    padding: 10px 30px;  
    background-color: #030303;
    color: #fff;
    border: 0px;
    font-family: "Metrophobic", sans-serif;
    text-transform: uppercase;
}

/* ai-section css */

.ai-section {
    margin-top: 100px;
}

.ai-section p {
    color: #000000a9;
}

.border-line {
    border: 1px solid #CDCDCD;
}

.bg-gray {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 30px 0px;
}

.bg-team {
    background-color: #F8F8F8;
    padding: 40px 30px;
} 

.dog-img {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.04);
}

.bg-team h4 {
    color: rgba(0, 0, 0, 0.80);
}

.hashTags {
    height: 40px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 5px 20px;
    background-color: rgba(0, 0, 0, 0.04);
}

.getTeach-btn button {
    padding: 10px 30px;
    border: 0px;
    background-color: #000000;
    color: #fff;
    font-weight: 300;
}

/* contribution-section css */

.contribution-section {
    margin-top: 100px;
    padding-bottom: 100px;
}

.contribution-section .container {
    background-image: url('image/Categories/contribute-img.webp');
    background-position: center;
    background-size: cover;
    height: 100% !important;
    width: 100% !important;
    padding: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

@media all and (max-width:900px) {
    /* banner section css */

    .tools-banner-section {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        padding-top: 80px;
    }

    .box {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .box-card {
        border: 1px solid #00000091;
        border-radius: 0px;
        padding: 6px 10px 0px 10px;
        width: 49%;
    }

    .input-box {
        display: flex;
        width: 100%; 
    }

    .tools-banner-section .main-items {
        display: flex;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        width: 100%;
        box-sizing: border-box;
        flex-wrap: nowrap;
    }
    
    .tools-banner-section .main-items::-webkit-scrollbar {
        display: none;
    }

    .tools-banner-section .items {
        flex: 0 0 auto; /* Ensures the items maintain their defined width */
        width: fit-content; /* Set the desired width for items */
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 20px 5px 20px;
        background-color: rgba(0, 0, 0, 0.04);
    }

    /* review section */ 

    .review-section {
        margin-top: 80px;
        padding: 0;
    }

    .swiper-slide .card {
        width: 27rem;
        background-color: #FAFAFA; 
        border: 1px #E4E4E4 solid;
        border-radius: 0px;
    }

    /* similarTools-section css */

    .similarTools-section {
        margin-top: 40px;
        padding: 0px;
    }

    .items-parent {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        flex-wrap: wrap;
        padding: 0;
    }

    .items-child {
        border: 1px #F0F0F0 solid;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 49%;
        height: 140px;
    }

    .items-child-datas {
        padding: 5px 5px 5px 15px;
    }

    .items-child-img {
        background-color: #F0F0F0;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px; 
        height: 100%;
    }

    .items-child-img img {
        width: 72px; 
        height: 70px;
    }

    .items-child h4 {
        color: rgba(0, 0, 0, 0.90); 
        font-size: 16px; 
        font-family: "Inter", sans-serif; 
        font-weight: 500;
    }

    .items-child h6 {
        color: rgba(0, 0, 0, 0.70); 
        font-size: 14px; 
        font-family: "Inter", sans-serif; 
        font-weight: 400;
    }

    .items-child p { 
        color: rgba(0, 0, 0, 0.50);
        font-family: "Inter", sans-serif; 
        font-weight: 400;
        font-size: 12px;
    }

    .seeMore-btn {
        display: flex;
        justify-content: center;
    }

    .seeMore-btn button{
        padding: 10px 30px;  
        background-color: #030303;
        color: #fff;
        border: 0px;
        font-family: "Metrophobic", sans-serif;
        text-transform: uppercase;
    }

    /* ai-section css */

    .ai-section {
        margin-top: 80px;
    }

    .bg-gray {
        background-color: rgba(0, 0, 0, 0.04);
        padding: 30px 0px;
        height: 15vh;
    }

    /* Popup content */
    .popup1-content {
        background-color: #fff;
        padding: 30px 20px;
        border-radius: 0px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 90%;
        width: 70%;
        text-align: center;
        animation: fadeIn 0.3s ease;
    }

    /* contribution-section css */

    .contribution-section {
        margin-top: 80px;
    }

    .contribution-section .container br {
        display: none;
    }

    .contribution-section .container {
        background-image: url('image/Categories/contribute-img.webp');
        background-position: center;
        background-size: cover;
        height: 100% !important;
        width: 100% !important;
        padding: 30px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

}

@media all and (max-width:768px) {

    /* banner section css */

    .DocuSign-img img {
        height: 75px !important;
        width: auto !important;
    }

    .tools-banner-section {
        margin-top: 20px;
        padding: 40px 15px !important;
    }
    
    .tools-banner-section .navigation-menu a {
        text-decoration: none;
        margin: 0 4px;
        font-size: 12px; 
        font-family: "Metrophobic", sans-serif; 
        font-weight: 400; 
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.60)
    }
    
    .tools-banner-section .visit-btn{
        padding: 8px 30px;  
        background-color: #030303;
        color: #fff;
        border: 0px;
        height: 50px !important;
        width: 82%;
        margin-top: 10px;
    }
    
    .tools-banner-section .upload-btn {
        padding: 8px 8px !important;  
        border: 1px rgba(0, 0, 0, 0.30) solid;
        height: 50px !important;
        width: 18%;
        margin-top: 10px;
    }
    
    .tools-banner-section .heading {
        display: block;
        padding: 0px;
        margin-top: -0px !important;
    }

    .tools-banner-section .heading p {
        font-size: 12px;
    }
    
    .tools-banner-section .all-items {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        padding: 0px;
    }
    
    .tools-banner-section .items {
        height: 30px;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 10px 5px 10px;
        background-color: rgba(0, 0, 0, 0.04);
    }

    .tools-banner-section .items p {
        font-size: 12px;
    }

    .tools-banner-section p {
        font-size: 12px !important; 
    }

    .tools-banner-section .main-items {
        margin-top: 0px;
    }
    
    /* review section */ 
    
    .review-section {
        margin-top: 0px;
        padding: 0px 10px;
    }
    
    .review-section h6 {
        color: #383838; 
        font-size: 20px; 
        font-family: "Metrophobic", sans-serif; 
        font-weight: 400; 
        text-transform: uppercase;
    }
    
    .review-section h3 {
        color: black;
        font-family: "Metrophobic", sans-serif; 
        font-weight: 500;
    }
    
    .review-section .checked {
        color: #F5841F;
    }
    
    .review-section .rating {
        display: flex;
        gap: 20px;
    }
    
    .rating-section {
        display: block;
        justify-content: space-between;
    }
    
    .review-section .write-btn button{
        padding: 10px 30px;  
        background-color: #030303;
        color: #fff;
        border: 0px;
        height: 50px !important;
    }
    
    .swiper-slide .card {
        width: 100%;
        background-color: #FAFAFA; 
        border: 1px #E4E4E4 solid;
        border-radius: 0px;
    }
    
    .swiper {
        width: 100%;
        height: 270px;
        padding: 0px !important;
    }
    
    .swiper-scrollbar {
        display: none !important;
    }
    
    .swiper-pagination-bullet {
        height: 6px !important;
        width: 6px !important;
        border-radius: 0px !important;
    }
    
    .swiper-pagination-bullet-active {
        background-color: #000 !important;
    }

    /* Popup content */
    .popup1-content {
        background-color: #fff;
        padding: 30px 20px;
        border-radius: 0px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 90%;
        width: 98%;
        text-align: center;
        animation: fadeIn 0.3s ease;
    }
    
    /* similarTools-section css */
    
    .similarTools-section {
        margin-top: 20px;
        padding: 0px 15px;
    }
    
    .similarTools-section h2 {
        color: rgb(65, 64, 64); 
        font-size: 24px; 
        font-family: "Metrophobic", sans-serif; 
        font-weight: 400; 
        text-transform: uppercase;
        padding: 0px;
    }
    
    .premium {
        padding: 5px 10px;
        background-color: #F0F0F0;
        font-size: 12px;
    }
    
    .items-parent {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        flex-wrap: wrap;
        padding: 0;
    }
    
    .items-child {
        border: 1px #F0F0F0 solid;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 120px;
    }
    
    .items-child-datas {
        padding: 20px 10px 0px 10px;
    }
    
    .items-child-img {
        background-color: #F0F0F0;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 15px;
    }
    
    .items-child-img img {
        width: auto;
        height: auto; 
        max-width: 100%;
        max-height: 100%;
    }
    
    .items-child h4 {
        color: rgba(0, 0, 0, 0.90); 
        font-size: 14px; 
        font-family: "Inter", sans-serif; 
        font-weight: 500;
    }
    
    .items-child h6 {
        color: rgba(0, 0, 0, 0.70); 
        font-size: 12px; 
        font-family: "Inter", sans-serif; 
        font-weight: 400;
    }
    
    .items-child p { 
        color: rgba(0, 0, 0, 0.50);
        font-family: "Inter", sans-serif; 
        font-weight: 400;
        font-size: 12px;
    }
    
    .seeMore-btn {
        display: flex;
        justify-content: center;
    }
    
    .seeMore-btn button{
        padding: 10px 30px;  
        background-color: #030303;
        color: #fff;
        border: 0px;
        font-family: "Metrophobic", sans-serif;
        text-transform: uppercase;
    }

    /* ai-section css */

    .ai-section {
        margin-top: 0px !important;
        padding: 60px 15px;
    }

    .bg-gray {
        background-image: url('image/Blog/card-img-1.webp');
        background-position: center;
        background-size: cover;
        padding: 30px 0px;
        height: 25vh;
    }

    .bg-team {
        background-color: #F8F8F8;
        padding: 30px 10px 15px 10px;
    } 

    .hashTags {
        height: 30px;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 10px 0px 10px;
        background-color: rgba(0, 0, 0, 0.04);
        font-size: 10px;
    }

    /* contribution-section css */

    .contribution-section {
        margin-top: 0px !important;
    }

     /* contribution-section css */

     .contribution-section {
        margin-top: 60px;
        /* padding: 0px 10px; */
    }

    .contribution-section .container {
        background-image: url('image/Categories/contribute-img.webp');
        background-position: center;
        background-size: cover;
        height: 100% !important;
        width: 100% !important;
        padding: 30px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .contribution-section .container p {
        color: #f0e8e8;
        font-size: 14px;
    }

    .getTeach-btn button {
        margin-top: -5px !important;
    }
}